
.css-zcbmsk-MuiButtonBase-root-MuiButton-root{
    background-color: orange !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root:hover{
    background-color: rgb(114, 189, 3) !important;
}


.css-sghohy-MuiButtonBase-root-MuiButton-root{
    background-color:  rgb(114, 189, 3) !important;
}


.css-1ygcj2i-MuiTableCell-root{
    font-size: 16px !important;
    font-weight: 600 !important;
}